<div class="success-overlay">
  <div class="wrapper">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <defs>
        <linearGradient id="circleGradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#fc540c"/>
          <stop offset="100%" stop-color="#39d3e7"/>
        </linearGradient>
      </defs>
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" stroke="url(#circleGradient)"/>
      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
    </svg>
  </div>
</div>
